<div class="text-center mt-4">
  <i style="font-size: 90px; position:relative; top:30px;" class="fab fa-facebook-square"></i> 
  <img src="{{path_to_core}}firebase/img/gif/pulse-blue.gif"><br>
  กำลังดำเนินการกรุณารอสักครู่ครับ
</div>

<form method="post" id="token" action="{{path_to_core}}firebase/index.php" class="d-none">
</form>

{{firebase}}

<<script type="module">

  import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js'
  import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-analytics.js'
  import { getAuth, signInWithRedirect, FacebookAuthProvider, onAuthStateChanged, getRedirectResult } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js'

  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  const provider = new FacebookAuthProvider();
  const auth = getAuth();
  
  let currentUser = null;
  
  onAuthStateChanged(auth, (user) => {
    currentUser = user;
    var idTokenPromise = user.getIdToken();
    idTokenPromise.then((idToken) => {
        $('body').on('submit','#token',function(){
          $(this).append('<input type="hidden" name="token" value="'+idToken+'" /> ');
          return true;
        });
        $('#token').submit();
      });
  });

  const redirectResult = await getRedirectResult(auth).then((result) => {
  if(result){
    var idTokenPromise = result.user.getIdToken();
    
      idTokenPromise.then((idToken) => {
        $('body').on('submit','#token',function(){
          $(this).append('<input type="hidden" name="token" value="'+idToken+'" /> ');
          return true;
        });
        $('#token').submit();
      });
    }
  });
  
  if(!redirectResult && !currentUser){
    signInWithRedirect(auth, provider);
  }

</script>
