<div class="row justify-content-center">
  <div class="text-center mt-4">
    <i style="font-size: 90px; " class="fab fa-google"></i> 
    <div class="mt-4">เข้าสู่ระบบด้วย Google</div>
    <!-- <img src="{{path_to_core}}firebase/img/gif/pulse-blue.gif"><br> -->
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8 col-md-6 col-lg-4">
    <button class="btn btn-success btn-block" id="signInBtn">กดที่ปุ่มนี้ครับ</button>
  </div>
</div>

<form method="post" id="token" action="{{path_to_core}}firebase/index.php" class="d-none">
</form>

{{firebase}}

<script type="module">
  import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js'
  import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-analytics.js'
  import { getAuth, signInWithPopup, GoogleAuthProvider, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js'

  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  const provider = new GoogleAuthProvider();
  const auth = getAuth();
  
  let currentUser = null;
  
  // onAuthStateChanged(auth, (user) => {
  //   if (user) {
  //     currentUser = user;
  //     user.getIdToken().then((idToken) => {
  //       $('body').on('submit','#token',function(){
  //         $(this).append('<input type="hidden" name="token" value="'+idToken+'" />');
  //         return true;
  //       });
  //       $('#token').submit();
  //     });
  //   } else {
  //     // User is not authenticated, initiate sign-in
  //     signInWithPopup(auth, provider).then((result) => {
  //       const user = result.user;
  //       user.getIdToken().then((idToken) => {
  //         $('body').on('submit','#token',function(){
  //           $(this).append('<input type="hidden" name="token" value="'+idToken+'" />');
  //           return true;
  //         });
  //         $('#token').submit();
  //       });
  //     }).catch((error) => {
  //       console.error("Error during sign-in: ", error);
  //     });
  //   }
  // });
  document.getElementById('signInBtn').addEventListener('click', function() {
  signInWithPopup(auth, provider)
    .then((result) => {
      const user = result.user;
      user.getIdToken().then((idToken) => {
        $('body').on('submit','#token',function(){
          $(this).append('<input type="hidden" name="token" value="'+idToken+'" />');
          return true;
        });
        $('#token').submit();
      });
    })
    .catch((error) => {
      console.error("Error during sign-in: ", error);
    });
});
</script>


<!-- <script type="module">

  import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js'
  import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-analytics.js'
  import { getAuth, signInWithRedirect, GoogleAuthProvider, onAuthStateChanged, getRedirectResult } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js'

  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  const provider = new GoogleAuthProvider();
  const auth = getAuth();
  
  let currentUser = null;
  
  onAuthStateChanged(auth, (user) => {
    currentUser = user;
    var idTokenPromise = user.getIdToken();
    idTokenPromise.then((idToken) => {
        $('body').on('submit','#token',function(){
          $(this).append('<input type="hidden" name="token" value="'+idToken+'" /> ');
          return true;
        });
        $('#token').submit();
      });
  });

  const redirectResult = await getRedirectResult(auth).then((result) => {
  if(result){
    var idTokenPromise = result.user.getIdToken();
    
      idTokenPromise.then((idToken) => {
        $('body').on('submit','#token',function(){
          $(this).append('<input type="hidden" name="token" value="'+idToken+'" /> ');
          return true;
        });
        $('#token').submit();
      });
    }
  });
  
  if(!redirectResult && !currentUser){
    signInWithRedirect(auth, provider);
  }

</script> -->
