<div id="loading" class="text-center mt-4" style="display:none;">
  <i style="font-size: 90px; position:relative; top:30px;" class="fas fa-phone-square-alt"></i> 
  <img src="{{path_to_core}}firebase/img/gif/pulse-blue.gif"><br>
  กำลังดำเนินการกรุณารอสักครู่ครับ
</div>
<div class="row justify-content-center sign-in-card">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
    <form id="sign-in-form" action="#">
      <!-- Input to enter the phone number -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="form-control text-center" placeholder="กรุณากรอกเบอร์โทรศัพท์" type="text" id="phone-number">
      </div>

      <!-- Sign-in button -->
      <button disabled class="btn btn-primary mt-3" style="width: 180px; display: none;" id="sign-in-button">ส่งข้อมูล</button>
    </form>

    <form id="verification-code-form" action="#">
      <!-- Input to enter the verification code -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="form-control text-center" style="display:none;" placeholder="กรุณากรอกรหัสที่ได้รับจากข้อความ" type="text" id="verification-code">
      </div>
      <!-- Button that triggers code verification -->
      <input type="submit" class="btn btn-primary mt-3" style="width: 180px; display: none;" id="verify-code-button" value="ยืนยันรหัส"/>
      <!-- Button to cancel code verification -->
      <!-- <button class="btn btn-warning mt-3" id="cancel-verify-code-button">Cancel</button> -->
    </form>
  </div>
</div>
<div class="row justify-content-center sign-in-card">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
    <hr class="colorgraph">
  </div>
</div>
<form method="post" id="token" action="{{path_to_core}}firebase/index.php" class="d-none">
</form>

{{firebase}}

<script type="module">

  import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js'
  import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-analytics.js'
  import { getAuth, signInWithPhoneNumber, signOut, onAuthStateChanged, RecaptchaVerifier } from 'https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js'

  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  const auth = getAuth();

  /**
   * Set up UI event listeners and registering Firebase auth listeners.
   */
  window.onload = function() {
    // Listening for auth state changes.
    onAuthStateChanged(auth, function(user) {
      if (user) {
        // User is signed in.
        var uid = user.uid;
        var email = user.email;
        var photoURL = user.photoURL;
        var phoneNumber = user.phoneNumber;
        var isAnonymous = user.isAnonymous;
        var displayName = user.displayName;
        var providerData = user.providerData;
        var emailVerified = user.emailVerified;
      }
      updateSignInButtonUI();
      updateSignInFormUI();
      // updateSignOutButtonUI();
      updateSignedInUserStatusUI();
      updateVerificationCodeFormUI();
    });

    // Event bindings.
    document.getElementById('phone-number').addEventListener('keyup', updateSignInButtonUI);
    document.getElementById('phone-number').addEventListener('change', updateSignInButtonUI);
    document.getElementById('verification-code').addEventListener('keyup', updateVerifyCodeButtonUI);
    document.getElementById('verification-code').addEventListener('change', updateVerifyCodeButtonUI);
    document.getElementById('verification-code-form').addEventListener('submit', onVerifyCodeSubmit);
    // document.getElementById('cancel-verify-code-button').addEventListener('click', cancelVerification);

    // [START appVerifier]
    window.recaptchaVerifier = new RecaptchaVerifier(auth,'sign-in-button', {
      'size': 'invisible',
      'callback': function(response) {
        // reCAPTCHA solved, allow signInWithPhoneNumber.
        onSignInSubmit();
      }
    });
    // [END appVerifier]

    recaptchaVerifier.render().then(function(widgetId) {
      window.recaptchaWidgetId = widgetId;
      updateSignInButtonUI();
    });
  };

  /**
   * Function called when clicking the Login/Logout button.
   */
  function onSignInSubmit() {
    if (isPhoneNumberValid()) {
      window.signingIn = true;
      updateSignInButtonUI();
      var phoneNumber = getPhoneNumberFromUserInput();
      phoneNumber = '+66'+phoneNumber.substr(1);
      var appVerifier = window.recaptchaVerifier;
      signInWithPhoneNumber(auth, phoneNumber, appVerifier)
          .then(function (confirmationResult) {
            // SMS sent. Prompt user to type the code from the message, then sign the
            // user in with confirmationResult.confirm(code).
            window.confirmationResult = confirmationResult;
            window.signingIn = false;
            updateSignInButtonUI();
            updateVerificationCodeFormUI();
            updateVerifyCodeButtonUI();
            updateSignInFormUI(); 
            $('#verification-code').show();
            $('#verification-code').focus();
          }).catch(function (error) {
            // Error; SMS not sent
            // console.error('Error during signInWithPhoneNumber', error);
            // window.alert('Error during signInWithPhoneNumber:\n\n'
            //     + error.code + '\n\n' + error.message);
            alert('มีข้อผิดพลาดไม่สามารถ Log In ได้ครับ');
            window.signingIn = false;
            updateSignInFormUI();
            updateSignInButtonUI();
          });
    }
  }

  /**
   * Function called when clicking the "Verify Code" button.
   */
  function onVerifyCodeSubmit(e) {
    $('#loading').show();
    $('.sign-in-card').hide();
    $('#verification-code-form').hide();
    e.preventDefault();
    if (!!getCodeFromUserInput()) {
      window.verifyingCode = true;
      updateVerifyCodeButtonUI();
      var code = getCodeFromUserInput();
      confirmationResult.confirm(code).then(function (result) {
      	// console.log(result);
        // User signed in successfully.
        var user = result.user;
        window.verifyingCode = false;
        window.confirmationResult = null;
        updateVerificationCodeFormUI();
      }).catch(function (error) {
        // User couldn't sign in (bad verification code?)
        // console.error('Error while checking the verification code', error);
        // window.alert('Error while checking the verification code:\n\n'
        //     + error.code + '\n\n' + error.message);
        $('#loading').hide();
        $('#verification-code-form').show();
        alert('รหัสไม่ถูกต้องครับ');
        window.verifyingCode = false;
        updateSignInButtonUI();
        updateVerifyCodeButtonUI();
      });
    }
  }

  /**
   * Cancels the verification code input.
   */
  function cancelVerification(e) {
    e.preventDefault();
    window.confirmationResult = null;
    updateVerificationCodeFormUI();
    updateSignInFormUI();
  }

  /**
   * Signs out the user when the sign-out button is clicked.
   */
  function onSignOutClick() {
    signOut(auth).then(() => {
      window.location.href = '{{path_to_app}}';
    }).catch((error) => {
      // An error happened.
    });
  }

  /**
   * Reads the verification code from the user input.
   */
  function getCodeFromUserInput() {
    return document.getElementById('verification-code').value;
  }

  /**
   * Reads the phone number from the user input.
   */
  function getPhoneNumberFromUserInput() {
    return document.getElementById('phone-number').value;
  }

  /**
   * Returns true if the phone number is valid.
   */
  function isPhoneNumberValid() {
    var pattern = /^0\d{9}$/;
    var phoneNumber = getPhoneNumberFromUserInput();
    return phoneNumber.search(pattern) !== -1;
  }

  /**
   * Re-initializes the ReCaptacha widget.
   */
  function resetReCaptcha() {
    if (typeof grecaptcha !== 'undefined'
        && typeof window.recaptchaWidgetId !== 'undefined') {
      grecaptcha.reset(window.recaptchaWidgetId);
    }
  }

  /**
   * Updates the Sign-in button state depending on ReCAptcha and form values state.
   */
  function updateSignInButtonUI() {
  	if(!(!isPhoneNumberValid() || !!window.signingIn)){
    	$('#sign-in-button').show();
    }
  }

  /**
   * Updates the Verify-code button state depending on form values state.
   */
  function updateVerifyCodeButtonUI() {
  	if(!(!!window.verifyingCode || !getCodeFromUserInput())){
      $('#verify-code-button').show();
    }
  }

  /**
   * Updates the state of the Sign-in form.
   */
  function updateSignInFormUI() {
    if (auth.currentUser || window.confirmationResult) {
      document.getElementById('sign-in-form').style.display = 'none';
    } else {
      resetReCaptcha();
      document.getElementById('sign-in-form').style.display = 'block';
    }
  }

  /**
   * Updates the state of the Verify code form.
   */
  function updateVerificationCodeFormUI() {
    if (!auth.currentUser && window.confirmationResult) {
      document.getElementById('verification-code-form').style.display = 'block';
    } else {
      document.getElementById('verification-code-form').style.display = 'none';
    }
  }

  /**
   * Updates the state of the Sign out button.
   */
  function updateSignOutButtonUI() {
    if (auth.currentUser) {
      document.getElementById('sign-out-button').style.display = 'block';
    } else {
      // document.getElementById('sign-out-button').style.display = 'none';
    }
  }

  /**
   * Updates the Signed in user status panel.
   */
  function updateSignedInUserStatusUI() {
    var user = auth.currentUser;
    // console.log(user.uid);
    if (user) {
      // document.getElementById('sign-in-status').textContent = 'Signed in';
      // document.getElementById('account-details').textContent = JSON.stringify(user, null, '  ');
      // window.location.href = '{{path_to_core}}user/info.php';
      auth.currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
        $('body').on('submit','#token',function(){
          $(this).append('<input type="hidden" name="token" value="'+idToken+'" /> ');
          return true;
        });
        $('#token').submit();
      }).catch(function(error) {
        // Handle error
      });

    } else {
      // document.getElementById('sign-in-status').textContent = 'Signed out';
      // document.getElementById('account-details').textContent = 'null';
    }
  }
</script>
