<div class="row justify-content-center mt-2">
	<div class="col-5 col-sm-3 col-lg-2">
		<img class="w-100 profile-image rounded-circle " src="{{profile-image}}" />
	</div>
</div>
<div class="row justify-content-center mt-2">
	<div class="col text-center">
		<div class="font-italic">กรุณากรอก Username และ Password ที่ต้องการครับ</div>
	</div>
</div>
<form id="addForm" method="post">
<div class="row justify-content-center mb-0">
    <div class="col-md-7 col-lg-5 text-center">
		<div class="form-group">
			<input name="username" placeholder="Username" class="form-control input-lg" type="text">
		</div>
		<div class="form-group">
			<input name="password" placeholder="Password" class="form-control input-lg" type="password">
		</div>
		<div class="form-group">
			<input name="password_retype" placeholder="Password(Reenter)" class="form-control input-lg" type="password">
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-3">
		<input class="btn btn-success btn-block" value="ส่งข้อมูล" type="submit">
	</div>
</div>
</form>
<script>
$(function(){
	$("input[name='username']" ).focus();
});
</script>
