<div class="container-fluid">
	<div class="row justify-content-center mt-3">
		<div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="{{baseurl}}index.php"><img style="width: 150px;" src="{{logo}}"></a>
		</div>
	</div>
</div>